<div *ngIf="data" class="">

    <section [data]="data.generic.AppaPrimaSez"></section>

    <div *ngFor="let appa of data.apartments" class="">

    </div>


    <!--<div *ngFor="let appa of data.apartments" class="marrone-scuro">
        <div *ngIf="data" class="col-md-6 col-sm-6 vcenter grid d.classimg">
            <figure class="effect-bubba">
                <img src="{{appa.img}}" alt="img02" />
                <figcaption>
                    <h2> <span>{{data.titleimg}}</span></h2>
                    <p>{{data.descimg}}</p>
                    <a href="{{data.link}}">{{data.tlink}}</a>
                </figcaption>
            </figure>
        </div>
        <div class="col-md-6 col-sm-6 vcenter">
            <div class="padded">
                <h1>{{appa.title}}</h1>
                <hr class="myhr">
                <p class="justify">{{appa.text}}</p>
            </div>
        </div>
    </div>-->

    <div class="marrone-chiaro">
        <h2 class="center">{{activeAppa.name}}</h2>
        <div class="row">
            <div class="col-md-6">
                <figure class="appa-figura" [ngStyle]="{ 'background-url': 'url('+article.uri+')'}">
                    <img src="" alt="">
                    <span></span>
                </figure>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>

</div>
