<menu></menu>

<div class="header parallax-slider">
    <img *ngFor="let item of items; let i = index"
    alt="{{item.text}}" src="{{item.link}}"/>
</div>
<div class="header-content hidden-xs hidden-sm">
    <div class="title-container">
        <div *ngIf="data" class="title">
            <h1 class="casamarizzoni">{{data.generic.Info.title}}</h1>
            <h2 class="titledesc">{{data.generic.Info.subtitle}}</h2><img src="assets/img/swirli.png" alt=""/>
        </div>
    </div>
    <div class="scroll-down"><a href="#content" class="arrow-wrap"><span class="arrow"></span></a></div>
</div>
